.container{
    font-family: 'Merienda';
    padding-top: 40px;
    padding-bottom: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container h1{
    text-align: center;
}

td{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: absolute;
    left: 40%;
    top: 120px;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}

.btn-dark{
    margin-top: 35%;
    margin-left: 60%;
}

.endgame{
    display: none;
    width: 200px;
    top: 190px;
    background-color: rgba(205, 138, 173, 0.8);
    position: absolute;
    left: 50%;
    margin-left:-100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

@media screen and (max-width:1024px) {
    .btn-dark{
        margin-top: 55%;
    }
    table{
        left: 30%;
    }
}
@media screen and (max-width:766px) {
    .btn-dark{
        margin-top: 75%;
    }  
}

@media screen and (max-width:480px) {
    .btn-dark{
        margin-top: 95%;
    }  
    table{
        left:15%;
    }
}
@media screen and (max-width:400px) { 
    table{
        top: 155px;
        left:10%;
    }
    .btn-dark{
        margin-top: 115%;
    }
}



